<div class="jumbotron">
	<h2>Bienvenue sur Sharing Spots !</h2>
	<p>
		<%= link_to "Se connecter", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "S'inscrire", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>
